#include <stdio.h>
#include "lpc17xx_timer.h"
#include "keypad.h"
#include "lcd.h"
#include "debug.h"
#include "gpio.h"
#include "timer.h"
#include "ultrasound.h"

/* Instructions to use ultrasound module:
    Connect Echo pin of the sensor to P29 on IO Board;
    Connect Trigger pin of the sensor to P8 on IO Board;
    Call initialise_timer_measurement() at start;
    Now calibrate the sensor, calculated the speed of sound
     as it appears with the calibration object, in m/s, save
     in calibrated_gradient;
    Call send_test_pulse() to send a pulse, then immediately:
    call process_ultrasound_value(calibrated_gradient,\
        (int)ultrasound_valid_response_time) 
     to obtain object distance in cm.
*/


int main(void)
{
    debug_init();

    lcd_init();
    lcd_clear_display();

    ultrasound_initialise_timer_measurement();

    //Not calibrated in example.
    double measured_distance = 0;
    char print_distance[64];
    while (1) {
        ultrasound_send_test_pulse();
        timer_delay(1000);
        measured_distance = ultrasound_process_value(340, 0, ultrasound_valid_response_time);
        sprintf(print_distance, "Distance: %d um\r\n\r\n", (int)measured_distance);
        debug_send(print_distance);
    }
}
